<section class="container">
  <ul class="advantages">
    <li class="advantages__item">
      <svg class="advantages__icon">
        <use href="./images/symbol-defs.svg#icon-food"></use>
      </svg>
      <h2 class="advantages__title">
        Магічна
        <span class="advantages__color">Атмосфера</span>
      </h2>
      <p class="advantages__description">
        В нашому закладі панує магічна атмосфера наповнена смачними ароматами
      </p>
    </li>
    <li class="advantages__item">
      <svg class="advantages__icon">
        <use href="./images/symbol-defs.svg#icon-food"></use>
      </svg>
      <h2 class="advantages__title">
        Найкраща якість
        <span class="advantages__color">Страв</span>
      </h2>
      <p class="advantages__description">Якість наших страв - неперевершена!</p>
    </li>
    <li class="advantages__item">
      <svg class="advantages__icon">
        <use href="./images/symbol-defs.svg#icon-food"></use>
      </svg>
      <h2 class="advantages__title">
        Доступні
        <span class="advantages__color">Ціни</span>
      </h2>
      <p class="advantages__description">
        Вартість наших страв залежить тільки від її кількості. Якість завжди на
        вищому рівні!
      </p>
    </li>
  </ul>
</section>
