<section class="cooks">
  <div class="container">
    <h2 class="cooks__title">
      Наші <span class="cooks__title--style">Кухарі</span>
    </h2>
    <ul class="cooks__list">
      <li class="cooks__item">
        <picture class="cooks__image">
          <source
            srcset="./images/cook_1_m.jpg 1x, ./images/cook_1_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/cook_1_d.jpg 1x, ./images/cook_1_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/cook_1_m.jpg" alt="cook-1" />
        </picture>
      </li>
      <li class="cooks__item">
        <picture class="cooks__image">
          <source
            srcset="./images/cook_2_m.jpg 1x, ./images/cook_2_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/cook_2_d.jpg 1x, ./images/cook_2_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/cook_2_m.jpg" alt="cook-2" />
        </picture>
      </li>
      <li class="cooks__item">
        <picture class="cooks__image">
          <source
            srcset="./images/cook_3_m.jpg 1x, ./images/cook_3_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/cook_3_d.jpg 1x, ./images/cook_3_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/cook_3_m.jpg" alt="cook-3" />
        </picture>
      </li>
    </ul>
  </div>
</section>