<section class="gallery">
  <div class="container">
    <h2 class="gallery__title">
      Галерея <span class="gallery__title--style">Страв</span>
    </h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture class="gallery__image">
          <source
            srcset="./images/glasses_m.jpg 1x, ./images/glasses_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/glasses_d.jpg 1x, ./images/glasses_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/glasses_m.jpg" alt="glasses" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__image">
          <source
            srcset="./images/coffee_m.jpg 1x, ./images/coffee_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/coffee_d.jpg 1x, ./images/coffee_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/coffee_m.jpg" alt="coffee" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__image">
          <source
            srcset="./images/soup_m.jpg 1x, ./images/soup_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/soup_d.jpg 1x, ./images/soup_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/soup_m.jpg" alt="soup" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__image">
          <source
            srcset="./images/coffee_m.jpg 1x, ./images/coffee_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/coffee_d.jpg 1x, ./images/coffee_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/coffee_m.jpg" alt="coffee" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__image">
          <source
            srcset="./images/soup_m.jpg 1x, ./images/soup_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/soup_d.jpg 1x, ./images/soup_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/soup_m.jpg" alt="soup" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__image">
          <source
            srcset="./images/glasses_m.jpg 1x, ./images/glasses_m_2x.jpg 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="./images/glasses_d.jpg 1x, ./images/glasses_d_2x.jpg 2x"
            media="(min-width: 768px)"
          />

          <img src="./images/glasses_m.jpg" alt="glasses" />
        </picture>
      </li>
    </ul>
  </div>
</section>
