<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="#" class="header__logo">
        <svg class="header__icon-logo">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header__burger"><span></span></div>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">Головна</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Меню</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Про нас</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Контакти</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">
              <svg class="header__icon-shopping">
                <use href="./images/symbol-defs.svg#icon-shopping"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__order">
        <div class="header__contact">
          <a href="tel:+380961111111" class="header__phone">
            <svg class="header__icon-phone" width="23" height="23">
              <use href="./images/symbol-defs.svg#icon-phone"></use>
            </svg>
            +38(096)-111-11-11
          </a>
          <p class="header__info">Зв'яжіться з нами для бронювання</p>
        </div>
        <button type="button" class="header__button">Замовити столик</button>
      </div>
    </div>
  </div>
</header>