<section class="container">
  <div class="history">
    <div class="history__box">
      <h2 class="history__title">
        Наша <span class="history__style">Історія</span>
      </h2>
      <p class="history__description">
        Як і у будь-якого іншого самобутнього місця, у нас є своя, особлива
        історія. Ідея ресторана прийшла засновникам неочіковано. Під час
        прогулянки в лісі засновник нашого ресторану застряг в сотнях кілометрів
        від найближчого населеного пункту. Вдалині від цивілізації та зв'язку
        йому довилось на деякий час облаштувати собі простий побут, здобувати та
        готувати собі їжу.
      </p>
      <ul class="history__choice">
        <li class="history__item">
          <span class="history__number">93</span>Напої
        </li>
        <li class="history__item">
          <span class="history__number">206</span>Страв
        </li>
        <li class="history__item">
          <span class="history__number">71</span>Закусок
        </li>
      </ul>
    </div>
    <div class="history__gallery">
      <ul class="history__gallery-list">
        <li class="history__image">
          <picture>
            <source
              srcset="./images/food_m.jpg 1x, ./images/food_m_2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <source
              srcset="./images/food_d.jpg 1x, ./images/food_d_2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <img src="./images/food_m.jpg" alt="." />
          </picture>
        </li>
        <li class="history__image">
          <picture>
            <source
              srcset="./images/cake_m.jpg 1x, ./images/cake_m_2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <source
              srcset="./images/cake_d.jpg 1x, ./images/cake_d_2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <img src="./images/cake_m.jpg" alt="." />
          </picture>
        </li>
        <li class="history__image">
          <picture>
            <source
              srcset="./images/table_m.jpg 1x, ./images/table_m_2x.jpg 2x"
              media="(max-width: 767px)"
            />

            <source
              srcset="./images/table_d.jpg 1x, ./images/table_d_2x.jpg 2x"
              media="(min-width: 768px)"
            />

            <img src="./images/table_m.jpg" alt="." />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
