<div class="menu__background">
  
  <section class="menu">
    <div class="container">
      <h2 class="menu__title">Наше меню</h2>
      <ul class="menu__list">
        <li class="menu__item">
          <div class="menu__card">
            <picture class="menu__image">
              <source
                srcset="
                  ./images/burger_m.jpg    1x,
                  ./images/burger_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./images/burger_d.jpg    1x,
                  ./images/burger_d_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img src="./images/burger_m.jpg" alt="burger" />
            </picture>
            <span class="menu__price">70 грн.</span>
            <h3 class="menu__dish">Гамбургер максі</h3>
            <p class="menu__description">Максимально товста та соковита котлета</p>
            <button type="button" class="menu__button">Замовити</button>
          </div>
        </li>
        <li class="menu__item">
          <div class="menu__card">
            <picture class="menu__image">
              <source
                srcset="
                  ./images/burger_m.jpg    1x,
                  ./images/burger_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./images/burger_d.jpg    1x,
                  ./images/burger_d_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img src="./images/burger_m.jpg" alt="burger" />
            </picture>
            <span class="menu__price">70 грн.</span>
            <h3 class="menu__dish">Гамбургер максі</h3>
            <p class="menu__description">Максимально товста та соковита котлета</p>
            <button type="button" class="menu__button">Замовити</button>
          </div>
        </li>
        <li class="menu__item">
          <div class="menu__card">
            <picture class="menu__image">
              <source
                srcset="
                  ./images/burger_m.jpg    1x,
                  ./images/burger_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./images/burger_d.jpg    1x,
                  ./images/burger_d_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <img src="./images/burger_m.jpg" alt="burger" />
            </picture>
            <span class="menu__price">70 грн.</span>
            <h3 class="menu__dish">Гамбургер максі</h3>
            <p class="menu__description">Максимально товста та соковита котлета</p>
            <button type="button" class="menu__button">Замовити</button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
