<section class="reviews">
  <div class="container">
    <picture class="reviews__image">
      <source
        srcset="./images/beard.jpg 1x, ./images/beard_2x.jpg 2x"/>
      <img src="./images/beard.jpg" alt="beard" />
    </picture>
    <h2 class="reviews__title">Відвідувач</h2>
    <span class="reviews__name">Гіоргі</span>
    <p class="reviews__review">Я надовго запам'ятаю мій День народження, проведний в цьому ресторані! Частинка рідної Грузії!!! Окрема подяка за комплімент у вигляді фруктової тарілки. Будемо в подальшому рекомендувати цей ресторан своїм друзям та рідним, які також будуть відвідувати місто Черкаси!!!</p>
  </div>
</section>
