.prices {
  padding: 30px 0px;
  @media screen and (min-width: 768px) {
    padding: 130px 0px;
  }
}

.prices__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Tinos';
  font-size: 40px;
  line-height: 1.15;
  @media screen and (min-width: 768px) {
    font-size: 54px;
  }
}

.prices__style {
  color: #d67e34;
}